@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
body,.dark{
    --body:hsl(207, 26%, 17%);
    --elements:hsl(209, 23%, 22%);
    --text:hsl(0,0%,100%);
    --gray:hsl(0, 0%, 52%);
}
.light{
    --body:hsl(0, 0%, 93%);
    --elements:hsl(0, 0%, 100%);
    --text:hsl(209, 23%, 22%);
    --gray:hsl(0, 0%, 52%);

}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: var(--elements); 
  }
::-webkit-scrollbar-thumb {
    background: var(--body); 
  }
*{
    padding: 0;
    margin: 0;
}
body{
    background: var(--body);
    color: var(--text);
    font-family: 'Nunito Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px ;
    background: var(--elements);
    align-items: center;
}
.header h3{
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:50px auto;
}
.search .searchsection{
    background: var(--elements);
    width: 400px;
    display: flex;
    border-radius: 5px;
    padding: 5px;
}
.search input{
    background: var(--elements);
    outline: 0;
    border: 0;
    font-size: 24px;
    padding: 10px;
    color: var(--text);
}
.search input::placeholder{
    font-size: 16px;
}
.search button{
    font-size: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    color: var(--text);
    margin: 5px;
}
select{
    outline: 0;
    background: var(--elements);
    border-radius: 5px;
    border: 0;
    border: 0;
    width: 200px;
    color: var(--text);
    font-size: 18px;
    cursor: pointer ;
    margin-right: 25px;
}

.main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.main .card{
    width: 23%;
    margin-right: 2%;
    margin-bottom: 40px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background: var(--elements);
    border-radius: 10px;
    cursor: pointer;
}
.main .card img{
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main .card p{
    margin-top: 10px;
}
.main .card .card-content{
    padding: 20px;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid #Fff;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }

.detail {
    width: 90%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.detail .sel {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
.detail .sel img {
    width: 80%;
    border-radius: 10px;
    margin-top: 30px;
}
.back {
    background-color: var(--elements);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}
.detail .text {
    width: 50%;
}
.detail .text .row {
    display: flex;
    gap: 100px;
    margin: 40px 0;
}
.detail .text ul {
    list-style: none;
}
.detail .text ul li {
    margin-top: 5px;
}
.detail .text ul li span {
    font-weight: 900;
}
.row2 {
    display: flex;
    gap: 10px;
    align-items: center;

}
.border {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.border p {
    background-color: var(--elements);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    padding: 10px ;
    border-radius: 5px ;
}
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
@media screen and (max-width:1425px){
    .main {
        justify-content: space-between;
    }
    .main .card{
        width: 45%;
    }
    .detail {
        width: 95%;
        margin-top: 100px;
        gap: 0px;
    }
    .detail .text {
        width: 80%;
        padding: 0;
    }
    .detail .sel img {
        width: 90%;
    }
    .detail .text .row {
        gap: 20px;
    }
}
@media screen and (max-width:1050px){
    .search{
        padding: 20px 10px ;
    }
    .detail  {
        flex-direction: column;
        justify-content: center;
        margin: 35px auto;
    }
    .detail .sel {
        width: 90%;
    }
    .detail .sel img {
        width: 100%;
        margin: auto;
    }
    .back {
        margin-bottom: 20px;
    }
    .detail .text {
        width: 90%;
        margin: 50px auto;
    }
    .detail .text .row {
        flex-direction: column;
    }
    .row2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@media screen and (max-width:700px) {
    .header{

        padding: 20px 10px ;
    }
    .header h1{
        font-size: 150%;
    }
    .header h3{
        font-size: 100%;
    }
    .search{
        flex-direction: column;
    }
    .search .searchsection {
        width: 90%;
    }
    .search input{
        width: 80%;
    }
    select{
        padding: 15px;
        margin-top: 15px;
    }
    .main{
        justify-content: center;
    }
    .main .card{
        width: 90%;
    }
}
@media screen and (max-width:500px) {
    .header{

        padding: 20px 10px ;
    }
    .header h1{
        font-size: 120%;
    }
    .header h3{
        font-size: 80%;
    }

}